# Build artifacts
/bin/
/obj/

# Temporary files
*.tmp
*.user
*.sln.docstates

# NuGet Global Packages Directory
# (adjust if using a different location)
/packages/

# Analyzer and test results
*.vbproj.user
*.csProj.user
TestResults/
coverage/

# Visual Studio Code specific
/.vscode/

# Secret files
*.secrets.json

# Any other IDE-specific files

.fake