@model Customer

<div class="container">

    <div class="row">
    <div class="col s12 ">
    <img src="~/Image/profile.png"/>
    </div>
        <div class="col col-sm-12 m6">
            <input type="text" readonly value="@Model.customerId" />
        </div>
    <div class="col col-sm-12 m6">
        <input type="text" readonly value="@Model.name"/>
    </div>
        <div class="col col-sm-12 m6">
            <input type="text" readonly value="@Model.surname" />
        </div>
        <div class="col col-sm-12 m6">
            <input type="text" readonly value="@Model.email" />
        </div>
        
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
